<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/layout.css">
    <title>Food Route</title>
  </head>
  <body>
    <main class="primeraPantalla">
      <a class="reset-filter" id="reset-filter">limpiar filtros</a>
      
      <select class="filtro-costos" id="filtro-costos">
        <option value="">Costos</option>
        <option value="bajo">$</option> 
        <option value="medio">$$</option>
        <option value="alto">$$$</option>
        <option value="muy-alto">$$$$</option>
      </select>
      <select class="filtro-tipoComida" id="filtro-tipoComida">
        <option value="">Tipo de Comida</option>
        <option value="americana">Americana</option> 
        <option value="asiática">Asiática</option>
        <option value="argentina">Argentina</option>
        <option value="española">Española</option>
        <option value="italiana">Italiana</option>
        <option value="mexicana">Mexicana</option>
        <option value="vegetariana">Vegetariana</option>
      </select>
      <h1>Tus opciones:</h1>
      
      <ul id="seleccionRestaurante"></ul>

      <!-- <div class="contenedor">
        <a href="" class="open">Abrir Ventana</a>
        <section id="openModal" class="openDialog" >
          <section class="modal"></section>
        </section>
      </div> -->
  

    </main>
    <script src="../js/data.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>

